:root {
    --primary-color: #274C77;
    --secondary-color: #A3CEF1;
    --background-color: #E7ECEF;
    --text-color: #000000;
    --white-text-color: #FFFFFF;

}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand, .nav-item a {
    color: var(--white-text-color);
}

